/Java/my_java_projects/my_folder_about_AffableBean/AffableBean_snapshot8/AffableBean_snapshot8/nbproject/private/
/Java/my_java_projects/my_folder_about_AffableBean/AffableBean_snapshot8/AffableBean_snapshot8/build/
/Java/my_java_projects/my_folder_about_AffableBean/AffableBean_snapshot9/AffableBean_snapshot9/nbproject/private/
/Java/my_java_projects/my_folder_about_AffableBean/AffableBean_snapshot9/AffableBean_snapshot9/build/
/Java/my_java_projects/my_folder_about_AffableBean/AffableBean_snapshot10/AffableBean_snapshot10/nbproject/private/
/Java/my_java_projects/my_folder_about_AffableBean/AffableBean_snapshot10/AffableBean_snapshot10/build/
/Java/my_java_projects/my_folder_about_AffableBean/AffableBean_complete/AffableBean/nbproject/private/
/Java/my_java_projects/my_folder_about_AffableBean/AffableBean_complete/AffableBean/build/