/Java/my_java_projects/my_folder_about_AffableBean/AffableBean_snapshot8/AffableBean_snapshot8/nbproject/private/
/Java/my_java_projects/my_folder_about_AffableBean/AffableBean_snapshot8/AffableBean_snapshot8/build/